# slacker template 'system'
aaa_base
aaa_glibc-solibs
aaa_libraries
acl
attr
bash
bzip2
coreutils
etc
file
findutils
gawk
gmp
grep
gzip
less
libcap
lz4
lzlib
mpfr
nano
ncurses
pcre2
pkgtools
readline
sed
tar
util-linux
xz
zlib
zstd
